.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: fuchsia;

}

.demo{
    padding: 20px;
    background-color: aqua;
    gap: 15px;
    display: flex;
}

.content{
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid aqua;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, transform 0.5s;
}

.fizz:hover{
    background-color: beige;
}

.buzz:hover{
    transform: translateY(5px);
}

.fizzBuzz:hover{
    border: 1px solid green;
}
