.container{
    font-family: Arial, Helvetica, sans-serif;
    background-color: fuchsia;
    display: flex;
}

.demo{
    padding: 20px;
    background-color: aqua;
    display: flex;
    gap: 15px;
}

.content{
    display: flex;
    height: 50px;
    width: 50px;
    border: 1px solid aqua;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s, transform 0.5s;
}

.content:hover{
    background-color: beige;
    transform: rotate(5deg);
    border: 1px solid black;
}

.juan{
    background-color: brown;
}
